@import "@styles/variables.scss";

nav {
  background-color: transparent;
  height: 90px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100vw;
  top: 0;
  padding: 0 20px;

  .left {
    display: flex;
    align-items: center;
    margin-left: 20px;
    // border: solid 1px #282828;
    flex: 1;

    .menu {
      fill: $TextHead;
      cursor: pointer;
    }
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    // border: solid 1px #282828;
    flex: 1;

    .logo {
      h1 {
        color: $TextHead;
        text-align: center;
        font-family: $Roboto;
        font-size: $LogoSize;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-variant: all-small-caps;
        letter-spacing: 14.4px;
        text-transform: uppercase;
        cursor: pointer;
        user-select: none;
        // border: solid 1px #282828;

        position: relative;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    flex: 1;
    // border: solid 1px #282828;

    @media screen and (max-width: 720px) {
      opacity: 0;
    }

    .search {
      fill: $TextHead;
      margin: 0 20px;
      cursor: pointer;

      &:hover {
        fill: $TextHead;
      }
    }

    .cart {
      fill: $TextHead;
      margin: 0 20px;
      cursor: pointer;
    }
  }
}
