@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@styles/variables.scss";

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #e4e4e4b5;
}
::-webkit-scrollbar-thumb {
  background: #555555bf;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: $TextHead;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #ffff;
  max-width: 99vw;
  overflow-x: hidden;
  min-height: 140vh;
}
