@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,900&display=swap");

$TextHead: #282828;
$TextSec: #636363;

$HeadBG: #f5f5f5;
$LogoSize: 52px;
$LogoWeight: 600;

$Roboto: "Roboto", "sans-serif";

$BreakPointLarge: 1250;
$BreakPointMedium: 950;
